*.iml
.gradle
/local.properties
.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
keystore.properties
google-services.json
/fastlane
/.kotlin/metadata
*/Pods
**/Podfile.lock
**/*.plist
