MIXPANEL_TOKEN=3e2765c34786cd0513192d1ac6e6b3cc
BUNDLE_ID=com.thejawnpaul.gptinvestor.dev
ACCESS_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJmcmVzaCI6ZmFsc2UsImlhdCI6MTcxNDM4MDkzNSwianRpIjoiZDA5MWE1NmQtZDdhMC00YWE2LThlNDItYmZjOTY2YWQ3NTU2IiwidHlwZSI6ImFjY2VzcyIsInN1YiI6ImpwYXVsNTI0NkBnbWFpbC5jb20iLCJuYmYiOjE3MTQzODA5MzUsImNzcmYiOiI5YTE3ZTc2YS05MjgyLTRlODItYWQ3NS00NzY1OWRmNzJkNDQiLCJleHAiOjI1MDI3ODA5MzV9.rQbT2zNYzRtQMoAhNMCGtHV544TwQfSzPOqEQgQPKY0
GEMINI_API_KEY=AIzaSyBt9y_EM6EhkCSDWZIgIVPFWoTuT_eaUoY
BASE_URL=https://m7mxrc35hp.us-west-2.awsapprunner.com/api/
APP_NAME=GPT-Investor-Dev
GOOGLE_SERVICES_PLIST=GoogleService-Info-Debug

#include? "Config.xcconfig"