BASE_URL=https://m7mxrc35hp.us-west-2.awsapprunner.com/api/
GEMINI_API_KEY=AIzaSyBt9y_EM6EhkCSDWZIgIVPFWoTuT_eaUoY
ACCESS_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJmcmVzaCI6ZmFsc2UsImlhdCI6MTcxNDM4MDkzNSwianRpIjoiZDA5MWE1NmQtZDdhMC00YWE2LThlNDItYmZjOTY2YWQ3NTU2IiwidHlwZSI6ImFjY2VzcyIsInN1YiI6ImpwYXVsNTI0NkBnbWFpbC5jb20iLCJuYmYiOjE3MTQzODA5MzUsImNzcmYiOiI5YTE3ZTc2YS05MjgyLTRlODItYWQ3NS00NzY1OWRmNzJkNDQiLCJleHAiOjI1MDI3ODA5MzV9.rQbT2zNYzRtQMoAhNMCGtHV544TwQfSzPOqEQgQPKY0
MIXPANEL_TOKEN=4ad949ae6a8cb1301f3aabc7a67ce562
GOOGLE_SERVICES_PLIST=GoogleService-Info
BUNDLE_ID=com.thejawnpaul.gptinvestor
APP_NAME=GPT-Investor

#include? "Config.xcconfig"

